<div class="site">
    <main>
        <h2 class="name"><span appTranslate>main-name</span></h2>
        <article class="text bold">
            <p><span appTranslate>.NET Developer</span> (<span appTranslate>About</span> {{dotnetYears}}
                <span appTranslate>years of commercial experience</span>).</p>
            <p><span appTranslate>Programming trainer </span> <span appTranslate>of</span> .NET <span appTranslate>and</span> T-SQL
                (<span appTranslate>About</span> {{trainerYears}} <span appTranslate>years experience</span>).</p>
        </article>
        <article class="text">
            <span appTranslate>Development of systems based on Microsoft technologies. Building backend applications
            using C #, .NET Framework, and .NET Core</span>.
        </article>

        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <div class="center">
                            <img src="assets/images/technologies/csharp.webp" />
                            <img src="assets/images/technologies/dotnet.webp" />
                            <img src="assets/images/technologies/dotnet-core.webp" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <article class="technologies text">
            <span appTranslate>Building Web applications with HTML5, Microsoft ASP.NET MVC, ASP.NET Core, and also
            Angular, React JS. Using REST API, WCF services</span>.
        </article>

        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <div class="center">
                            <img src="assets/images/technologies/html5.webp" />
                            <img src="assets/images/technologies/asp-net-mvc.webp" />
                            <img src="assets/images/technologies/asp-net-core.webp" />
                            <img src="assets/images/technologies/angular.webp" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="center">
                            <img src="assets/images/technologies/react.webp" />
                            <img src="assets/images/technologies/rest-api.webp" />
                            <img src="assets/images/technologies/wcf.webp" />
                            <img src="assets/images/technologies/signalr.webp" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <article class="technologies text">
            <span appTranslate>Hosting application on Windows Server with IIS, and on Microsoft Azure Cloud</span>.
        </article>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <div class="center">
                            <img src="assets/images/technologies/windows-server.webp" />
                            <img src="assets/images/technologies/iis.webp" />
                            <img src="assets/images/technologies/azure.webp" />
                            <img src="assets/images/technologies/azure-web-app.webp" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <article class="technologies text">
            <span appTranslate>Administering and optimizing data with MS SQL Server, SQLite, Azure SQL, and Azure
            CosmosDB</span>.
        </article>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <div class="center">
                            <img src="assets/images/technologies/sql-server.webp" />
                            <img src="assets/images/technologies/azure-sql.webp" />
                            <img src="assets/images/technologies/cosmos.webp" />
                            <img src="assets/images/technologies/sqlite.webp" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <article class="technologies text">
            <span appTranslate>Main tools to manage, develop and deploy code. Creating AzureDevops pipelines and GitHub
            actions</span> (CI/CD).
        </article>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <div>
                            <img src="assets/images/technologies/visual-studio.webp" />
                            <img src="assets/images/technologies/visual-studio-code.webp" />
                            <img src="assets/images/technologies/ssms.png" />
                            <img src="assets/images/technologies/azure-devops.webp" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <img src="assets/images/technologies/jira.webp" />
                            <img src="assets/images/technologies/git.webp" />
                            <img src="assets/images/technologies/github.png" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</div>