<div class="site">
    <main>
        <div class="center flex-container offer">
            <section class="box">
              <article class="text">
                <h3 appTranslate>Creating and administrating</h3>
                <ul>
                  <li appTranslate>Responsive web application / Static HTML sites / Web services</li>
                  <li appTranslate>Design, administration, and maintenance of MS SQL Server</li>
                  <li appTranslate>.NET applications using C# language</li>
                </ul>
                <div class="images">
                  <img src="assets/images/mobile-apps.png"/>
                </div>
                <h4 class="info"><span appTranslate>Customized - Tell me what you need. I'll design and create a system that will be exactly what you want. Use</span>&nbsp;<a (click)="goToContact()" appTranslate>contact page</a>.</h4>
                <h3 appTranslate>Programming training</h3>
                <section>
                  <h4 appTranslate>Beginners</h4>
                  <ul>
                    <li><span appTranslate>First steps with databases</span> (T-SQL, SQLite, Git) ~<strong>40<span appTranslate>h</span></strong></li>
                    <li><span appTranslate>First steps with Visual Studio and C#</span> (C#, Git) ~<strong>40<span appTranslate>h</span></strong></li>
                  </ul>
                  <h4 appTranslate>Intermediate</h4>
                  <ul>
                    <li><span appTranslate>Programming in C#</span> ~<strong>40<span appTranslate>h</span></strong></li>
                    <li><span appTranslate>Design patterns and clean code</span> (C#, UML, SOLID, KISS, DRY) ~<strong>30<span appTranslate>h</span>h</strong></li>
                    <li><span appTranslate>Creating web applications using ASP.NET</span> (.NET Core, .NET 6, REST API) ~<strong>50<span appTranslate>h</span></strong></li>
                    <li><span appTranslate>Exploring data for .NET Developers</span> (C#, LINQ, Entity Framework, T-SQL, ADO.NET) ~<strong>40<span appTranslate>h</span></strong></li>
                  </ul>
                  <h4 appTranslate>Advanced</h4>
                  <ul>
                    <li><span appTranslate>Advanced queries using LINQ</span> (LINQ, C#, Entity Framework, T-SQL) ~<strong>40<span appTranslate>h</span></strong></li>
                  </ul>
                  <h4 class="info"><span appTranslate>Something different? - Tell me what you need and I'll create training that fits your requirements. Use</span>&nbsp;<a (click)="goToContact()" appTranslate>contact page</a>.</h4>         
                </section>
              </article>
            </section>
          </div>
    </main>

</div>