.cookies {
    position: fixed;
    height: 130px;
    width: 100%;
    background-color: white;
    border: 0.5px solid rgb(218, 212, 212);
    bottom: 0;
    text-align: center;    
    line-height: 30px;
    margin: 0;
}
p {
    font-weight: bold;
}